
{% if session["role"] == 'Admin':%}
    {% include 'adminHead.html' %}
{% elif session["role"] == 'Hospital':%}
    {% include 'hospitalHead.html' %}
{% elif session["role"] == 'Donor':%}
    {% include 'donorHead.html' %}
{% else:%}
    {% include 'head.html' %}
{% endif %}<div class="container">
  <div class="row">
    <div class="text-center h4">View Donation Transactions</div>
    <table class="table table-primary table-bordered mt-4">
      <tr>
        <thead>
          <th>Sender Role</th>
          <th>Sender Name</th>
          <th>Receiver Role</th>
          <th>Receiver Name</th>
          <th>Donation Type</th>
          <th>Amount</th>
          <th>Date</th>
        </thead>
      </tr>
      <tbody>
       {% for donation in donations: %}
       <tr>
        <td>{{donation[1]}}</td>
        <td>
            {% if donation[6] != None:%}
            {% set donor=get_donor_id(donation[6])%}
            {{donor[1]}}
            {% endif %}
            {% if donation[6] == None:%}
           {{donation[1]}}
            {% endif %}
        </td>
        <td>{{donation[2]}}</td>
        <td>{{donation[2]}}</td>
           {% if donation[4] == "Cause":%}
               <td><a href="viewFundRequest?raise_request_id={{donation[7]}}">{{donation[4]}}</a></td>
            {% else %}
                <td>{{donation[4]}}</td>
           {% endif %}
        <td>{{donation[3]}}</td>
        <td>{{donation[5]}}</td>
       </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>